.clients__title {
  margin-bottom: 30px;
  color: $colorPrimary-text;
  @include font(700, 28, 33, 0.03);
  text-align: center;

  @include desktop {
    margin-bottom: 50px;
    @include font(700, 36, 42, 0.03);
    text-align: center;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 100%;
  margin-bottom: -30px;
}

.clients__item {
  width: calc((100% - 30px) / 2);
  height: 92px;
  padding: auto;
  margin-right: 30px;
  margin-bottom: 30px;
  @include tel-max{
  &:nth-child(2n) {
    margin-right: 0px;
  }}


  @include tablet {
    width: calc((100% - 90px) / 3);
  @include tablet-max{
    &:nth-child(3n) {
      margin-right: 0px;
    }
  }

  @include desktop {
    width: calc((100% - 150px) / 6);
  }
  &:nth-child(6n) {
    margin-right: 0px;}

}}

.clients__link {
  width: 100%;
  height: 100%;
  @extend %flex-align;
  justify-content: center;
  border: 1px solid $colorIcon;
  border-radius: 4px;
  transition: border $duration $timingFunction, 
  fill $duration $timingFunction;

  &:hover,
  &:focus {
    fill: $colorAccent;
    border-color: $colorAccent;
  }

  &{
    fill: currentColor;
    fill: $colorIcon;
  }}