@include desktop {
  .section .features {
    padding-bottom: 0px;
  }
}

.features__box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background: $colorTitle-bg;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  margin-top: 0px;
  align-items: flex-start;
}

.features__item {
  margin-top: 0px;

  margin-bottom: 30px;

  @include tel {
    .features .container {
      width: 360px;
    }
  }
  @include tablet {
    width: calc((100% - 60px) / 2);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  @include desktop {
    width: calc((100% - 90px) / 4);
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}

.features__list .features__subtitle {
  margin-bottom: 10px;
  color: $colorPrimary-text;
  @include font(400, 14, 16, 0.03);

  @media screen and (max-width: 480px) {
    text-align: center;
  }
}

.features__list .features__text {
  @include font(400, 14, 24, 0.03);
}
