.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    overflow-y: scroll;
    background-color: $colorBackground-backdrop;
    opacity: 1;
    transition: opacity $duration $timingFunction, visibility $duration $timingFunction;
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    overflow: visible;
  }

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
  border-radius: 15%;
}

.modal { 
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 609px;
    padding: 40px;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 15%;
    background: $colorPrimary-bg-white;
    box-shadow: $shadowBox-modal;
    border-radius: 4px;
    transition: transform $duration $timingFunction, border-radius $duration $timingFunction;
    
    @include desktop {
    height: 581px;
    width: 528px;
      }

}


.button-close{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;
    padding: 6px;
    fill: $colorPrimaryBlack;
    background: $colorPrimary-white;
    border: 1px solid $colorBorder-close-btn;
    border-radius: 50%;
    @extend %flex-align;
    justify-content: center;
    transition:
        fill $duration $timingFunction;

    &:hover,
    &:focus {
        fill: $colorAccent;
    }
}

.modal-title {
    margin-bottom: 12px;
    @include font(700, 20, 23, 0.03);
    text-align: center;
    color: $colorPrimary-text;

    @include desktop {
    @include font(700, 20, 30, 0.03);
    
    }
}
.modal-form{
    @include desktop{
    width: 448px;
    height: 342px;}
}
.modal-form__field { 
    display: inline-block;
    position: relative;
    &:not(:last-child) {
        margin-bottom: 10px;
      }

    @include desktop {  
        &:not(:last-child) {
            height: 58px;
          } 
        &.modal-form__field--comment{
            height: 138px; 
        }       
        }
}

.modal-form__label {
    font-family: 'Roboto';
    @include font(400, 12, 14, 0.01);
    color: $colorTitle-text;

}

.modal-form__text {
    display: inline-block;
    flex-direction: column;
    width: 370px;
    height: 40px;
    margin-top: 4px;
    border: 1px solid $colorBorder-input;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: color $duration $timingFunction,
        fill $duration $timingFunction;

    @include desktop {  
    width: 448px;
    }
}

.modal-form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    
    transform: translateY(25%);
}

.modal-form__text:focus~.modal-form__icon {
    fill: $colorAccent;
}

.modal-form__text:focus,
.modal-form__label--comment:focus {
    border: 1px solid $colorAccent;
}

.modal-form__label--comment {
    display: block;
    padding: 12px 16px;
    margin-top: 4px;
    resize: none;
    outline: none;
    border: 1px solid $colorBorder-input;
    border-radius: 4px;
    cursor: pointer;
    transition: border $duration $timingFunction;
    &::placeholder {
        @include font(400, 12, 14, 0.01);
        color: $colorBorder-placeholder;
    }}
.modal-form__label{
    width: 370px;
    height: 116px;
    @include desktop {  
    width: 448px;
    }
    } 

.modal-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 15px;
    margin-top:20px;
    margin-bottom: 30px;
    @include font(400, 12, 14, 0.03);
    // @include font(400, 14, 24, 0.03);
    color: $colorTitle-text;

    @include desktop {  
    width: 425px;
    height: 24px;
       
    @include font(400, 14, 24, 0.03);
        }
}

.modal-checkbox__icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    border-radius: 4px;
    margin-right: 7px;
    cursor: pointer;
    transition: background-image $duration $timingFunction,
        fill $duration $timingFunction;
}


.modal-checkbox__text:checked+.modal-checkbox__icon {
    fill: transparent;
    border-color: transparent;
    background-color: $colorAccent;
    background-image: url(../images/icon-check.svg);
    background-size: contain;
    background-position: center;
    background-origin: border-box;

}


.modal-checkbox__link {
    cursor: pointer;
    text-decoration: underline;
    color: $colorAccent;
    margin-left: 7px;
}

.modal-submit {
    display: block;
    width: 200px;
    height: 50px;
    border: none;
    padding: 10px 52px;
    margin: 0px auto;
    @include font(700, 16, 30, 0.06);
    color: $colorPrimary-white-btn;
    background-color: $colorAccent;
    box-shadow: $shadowButton-submit;
    border-radius: 4px;

    transition: color $duration $timingFunction,
        background-color $duration $timingFunction,
        box-shadow $duration $timingFunction;
        &:hover,
        &:focus {
            color: $colorTitle-text;
            background: $colorTitle-bg;
        }
}

