
$colorTitle-text: #757575;
$colorPrimary-text: #212121;
$colorAccent: #2196F3;
$colorAccent-Submit: #188CE8;
$colorLogo-white: #FFFFFF;
$colorPrimary-white: #FFFFFF;
$colorPrimary-white-btn: #FFFFFF;
$colorPrimary-bg-white: #FFFFFF;
$colorTitle-bg: #F5F4FA;

$colorPrimary-footer: rgba(255, 255, 255, 0.6);
$colorBackground-footer: #2F303A;
$colorAbout-box: rgba(47, 48, 58, 0.8);
$colorIcon: #AFB1B8;
$colorBackground-icon: rgba(255, 255, 255, 0.1);

$colorGradient: rgba(47, 48, 58, 0.4);
$shadowPortfolio-card: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
$shadowButtonSet: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
$colorFooter-input: rgba(255, 255, 255, 0.3);
$shadowButton-submit: 0px 4px 4px rgba(0, 0, 0, 0.15);
$colorLogo-bg: #FFFFFF;
$colorHeder-bg: #EEEEEE;

$duration: 250ms;
$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);
$marginPrimary:30px;
$colorBorderPortfolio: #FFFFFF;
$colorBackground-backdrop: rgba(0, 0, 0, 0.2);
$shadowBox-modal: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$colorPrimaryBlack: #000000;
$colorBorder-close-btn: rgba(0, 0, 0, 0.1);
$colorBorder-input: rgba(33, 33, 33, 0.2);
$colorBorder-placeholder: rgba(117, 117, 117, 0.5);
$colorAccentOpacity: rgba(33, 150, 243, 0.9);
